.container {
    margin-top: 20px;
}

.search-header {
    margin-bottom: 4em;
}

.search-input {
    margin: 0 5px 0 10px;
    border-bottom: 1px solid black;
}

.ui.items.quotes-list {
    padding: 2em;
}

.ui.items>.item {
    margin-botton: 3em !important;
}

/* DESKTOP ONLY */
@media screen and (min-width: 800px) {
    .ui.items.quotes-list {
        margin: auto;
        width: 50%;
    }
}